#sample1 { color:white !important;
    background-color: rgb(215, 136, 34);
}


.button {
    color: #f4e9e9;
    background-color: #c4302b;
    font-style: normal;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    text-decoration: none;
  }
  
    
  .title {
    text-align: right;
    color: #c4302b;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .paragraph {
    text-align: justify;
    font-size: 20px;
    font-family: 'Azeri Latin';
    ;
  }
  

  
  footer {
    font-weight: 200;
    color: #080404;
    font-size: 20px;
  }
